<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


    <script type="text/javascript" src="https://openuav.us/scripts/eventemitter2.js"></script>
    <script type="text/javascript" src="https://openuav.us/scripts/roslib.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>

    {% load static %}
    <script src="{% static "sim/randomColor.js" %}"></script>
    <title>UAV Simulation</title>
</head>

<body id="page-body" style="background-color:#FFFFFF;">


    <!-- Navigation bar -->
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-light" style="background-color: #000000;">
        <div class="container-fluid">
            <table style="width: 100%">
                <tr>
                    <td class="block">
                        <a class="navbar-brand" href="#" style="color:#808080;" >OpenUAV Web Console</a>
                    </td>
                    <td align="right" style="float:right">
                        <ul class="nav nav-pills" style="text-align: right;">
                            <li class="nav-item active"><a class="nav-link" id="clickForHome" data-toggle="pill" href="#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#menu1">Terminal</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </nav>
    <!-- Navigation bar -->

    <!-- Main Content -->
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="container-fluid" id="ajax-populate">
            </div>

            <div id="spinner" style="position: absolute;left:50%;top:50%;">
                <img src="{% static "sim/loading.gif" %}" alt="Loading..">
            </div>
            <div id="debugStatements" style="position: absolute;bottom:0;width:100%;">
                <p id="debugStatementsPara"></p>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <iframe id="ifm" src="http://{{terminalDomainName}}" style="position:relative; left: 0; right: 0; bottom: 0; top: 0px;" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
    <!-- Main Content -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            $('#clickForHome').click();
            console.log( "ready!" );
            $('#spinner').show();
            var console2loaded = false;
            $.ajax({
                type: "POST",
                url: "/sim/unsecure_console2/?user={{userid}}",                
                success: function(data){         
                    console2loaded = true;    
                    $('#ajax-populate').html(data);
                    $('#spinner').hide();
                    $('#debugStatements').hide();
                },
                error: function (response) {
                    $('#ajax-populate').html('<a>There is some error with the simulation or network.</a>');
                    $('#spinner').hide();
                }           
            });

            function printDebugStatements() {
                $.ajax({
                    type: "POST",
                    url: "/sim/unsecure_debugStmts/?user={{userid}}",   
                    success: function(data){     
                        document.getElementById("debugStatementsPara").innerHTML = data;
                        console.log(data);
                        if(!console2loaded)
                            setTimeout(printDebugStatements, 300);
                    },
                    error: function (response) {
                        if(!console2loaded)
                            setTimeout(printDebugStatements, 300);
                    }    
                });
            }

            // call printDebugStatements once - it will recurse itself if needed
            printDebugStatements();
        });
    </script>

    <!-- For setting iframe height -->
    <script type="text/javascript">
        var buffer = 65; //scroll bar buffer
        var iframe = document.getElementById('ifm');

        function pageY(elem) {
            return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
        }

        function resizeIframe() {
            var height = document.documentElement.clientHeight;
            height -= pageY(document.getElementById('ifm'))+ buffer ;
            height = (height < 0) ? 0 : height;
            document.getElementById('ifm').style.height = height + 'px';
            console.log(height + 'px');
        }

        // .onload doesn't work with IE8 and older.
        if (iframe.attachEvent) {
            iframe.attachEvent("onload", resizeIframe);
        } else {
            iframe.onload=resizeIframe;
        }

        window.onresize = resizeIframe;
    </script>
</body>

</html>